{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="text-center">
        <img src="../media/gtg.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="row h-100">
        <div class="col-4 col-md-4 my-auto">
            <h1 class="logo-font text-black">
                About GOOD2GO
            </h1>

            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded text-uppercase py-3">Order Now</a>
                </h4>
            </div>
        </div>

        <div class="col-8 col-md-8 my-auto">
            <p class="text-black">
                Good2go is your friendly neighborhood food rescue.
                We believe that foodwaste is a huge problem and the way to tackle it is to make
                perfectly good food accessible to the masses at cheaper prices rather than sending it to be disposed of.

                In 2020 we started Good2Go a local food rescue
                working with restaurants and supermarkets to rescue produce that is good to eat
                but legally not able to sit on the shelf anymore. Start your journey to rescuing food with us!
            </p>
        </div>
    </div>
    <!--Blog Posts-->
    <div class="container">
        <div class="row h-100">
            <div class="col-4 col-md-4 my-auto">
                <h1 class="logo-font text-black">
                    GOOD2GO Blog
                </h1>
            </div>
            <div class="col-8 col-md-8 my-auto">
                {% include 'blog/blog.html' %}
            </div>
        </div>
    </div>

{% endblock %}