  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Shop</h3>
                      <ul>
                      <li><a href="{% url 'aboutus' %}">About Us</a></li>    
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'products' %}?category=all, meals, italian, japanese, indian">Meals</a>
                        </li>
                        <li><a href="{% url 'products' %}?category=herbs, fruits, vegetables">Fresh Produce</a></li>
                      </ul>
                  </div>

                  <div class="col-md-6 item text">
                      <h3>GoodtoGo</h3>
                      <p>GoodtoGo is your friendly food waste fighter. On our site you will find meals at discounted prices to combate foodwaste from bigger restaurants that would otherwise dispose of the meal.</p>
                  </div>
                  <div class="col item social">
                      <a href="https://www.facebook.com/toogoodtogoUK/" target="_blank"><i
                              class="fab fa-facebook-f fa-2x"></i></a>
                      <a href="https://twitter.com/TooGoodToGo_UK" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                      <a href="https://www.instagram.com/toogoodtogo.uk/?hl=en" target="_blank"><i
                              class="fab fa-instagram fa-2x"></i></a>
                  </div>
              </div>
              <p class="copyright">GoodtoGo © 2021</p>
          </div>
      </footer>
  </div>