<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" class="dropdown-item"> Home </a>
        </li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'aboutus' %}"   aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=des"  class="dropdown-item ">By Rating</a>
                <a href= "{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item"> All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-link">
                <a href="{% url 'products' %}?category=italian" class="dropdown-item">Italian </a>
                <a href="{% url 'products' %}?category=japanese" class="dropdown-item">Japanese</a>
                <a href="{% url 'products' %}?category=indian" class="dropdown-item">Indian</a>
                <a href="{% url 'products' %}?category=all, meals, italian, japanese, indian" class="dropdown-item">All Meals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fresh-produce-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fresh Produce
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fresh-produce-link">
                <a href="{% url 'products' %}?category=vegetables" class="dropdown-item">Vegetables </a>
                <a href="{% url 'products' %}?category=fruits" class="dropdown-item"> Fruits </a>
                <a href="{% url 'products' %}?category=Herbs" class="dropdown-item"> Herbs </a>
                <a href="{% url 'products' %}?category=Herbs, fruits, vegetables" class="dropdown-item">All Fresh Produce</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            
        </li>
    </ul>
</div>